<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>

    {% block content_title %}{% endblock %}

    {% block content_intro %}{% endblock %}

    {% block content_main %}{% endblock %}

    {% block content_footer %}{% endblock %}
</body>